<div class="container mt-5">
  <div class="d-flex align-items-center">
    <h5 class="font-weight-bold text-dark">Articles</h5>
    <strong class="ml-2 mr-2"> > </strong>
    <h5 class="font-weight-light text-muted"><%= "#{@posts.size} items" %></h5>
    <%= link_to 'Nouvel article', new_post_path, class: "btn btn-secondary btn-sm ml-2" %>
  </div>
</div>




<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Creation</th>
        <th scope="col">title</th>
        <th scope="col">body</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
          <tr>
            <td><%= l post.created_at %></td>
            <td><%= post.title %></td>
            <td><%= post.body %></td>
            <td><%= link_to 'Show', post %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
    </tbody>
  </table>








  <%= link_to 'dashboard', dashboard_path %>
</div>






<div class="container">

  <div class="row mb-2">

      <% @posts.reverse.each do |post| %>

        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">

              <div class="d-flex justify-content-between align-items-center" style="width: 100%;">

              <h4 class="mb-0">
                <a class="text-dark font-weight-bold" href="#"><%= post.title.capitalize %></a>
              </h4>
              <div class="font-weight-bold" style="color: <%= post.category.dynamic_color %>;"><%= post.category.name.capitalize %></div>

              </div>



              <p class="card-text mb-3 mt-3 text-muted">This is a wider card with supporting text below as a natural lead-in to additional content.</p>

              <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
                <%= link_to 'Lire la suite', post, class: "text-secondary font-weight-bold" %>
                <div class="d-flex">
                  <small class="text-muted mr-1">Ajouté le</small>
                  <small class="text-dark"><%= post.formatted_date %></small>
                </div>
              </div>


            </div>
          </div>
        </div>

      <% end %>


  </div>

</div>
